/* ELEMENTS */

body {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 5em;
  margin-top: 25px;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

hr {
  margin-top: 25px;
}

/* CLASSES */

.nav {
  margin-left: 15px;
  margin-right: 15px;
}

.robo-pic {
  height: 100px;
  width: 100px;
}

.robo-pic-profile {
  height: 200px;
  width: 200px;
}
